@charset "UTF-8";
@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  src: url("/fonts/OpenSans/OpenSans-Light.ttf"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: 600;
  src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'Bodoni';
  src: url("/fonts/Bodoni-C.ttf"); }

body {
  min-width: 320px;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif, "OpenSans";
  font-size: 14px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: auto; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2a2423; }

.nav__bar {
  width: 100%;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: -300px;
  right: 0;
  height: 300px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s all;
  transition: .5s all;
  z-index: 98; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.menu__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  -webkit-transition: .5s;
  transition: .5s; }

.menu__link:hover {
  color: #c69c6d;
  -webkit-transition: .5s;
  transition: .5s; }

.burger__list {
  position: absolute;
  display: block;
  top: 15px;
  right: 30px;
  list-style: none;
  width: 16px;
  height: 14px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 99; }

.burger__item {
  height: 2px;
  width: 16px;
  background: #ffffff;
  position: absolute;
  -webkit-transition: .7s all;
  transition: .7s all; }

.second, .third {
  top: 5px; }

.fourth {
  top: 10px; }

#check-menu {
  visibility: hidden; }

.menu__list--active {
  top: 0;
  -webkit-transition: .5s all;
  transition: .5s all; }

.second--active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #ffffff; }

.third--active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #ffffff; }

.header__logo-img {
  width: 80px;
  padding-left: 20px; }

.header__btn-phone {
  display: none; }

.phone-icon {
  position: relative;
  display: block;
  background-image: url("../img/icon-phone.png");
  width: 23px;
  height: 23px;
  margin-right: 10px; }

.header__phone {
  width: 180px; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff; }

.header__block {
  width: 100%;
  background-color: #493a2f; }

.header__block-left {
  background-image: url(../img/logo_white-02.png);
  background-repeat: no-repeat;
  background-size: auto; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__tittle {
  text-align: center; }

.header__btn {
  width: 200px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: 1px solid #c69c6d;
  background-color: #c69c6d;
  border-radius: 5px;
  -webkit-box-shadow: 1px 4px 26px 1px rgba(9, 10, 10, 0.05);
          box-shadow: 1px 4px 26px 1px rgba(9, 10, 10, 0.05);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.32px;
  color: #ffffff;
  margin-bottom: 50px; }

.header__block-right {
  display: none; }

@media (min-width: 768px) {
  .header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__block-left {
    width: 50%;
    height: 300px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url(../img/logo_white-02.png);
    background-repeat: no-repeat;
    background-position: 0 -160px;
    background-size: auto; }
  .header__block-right {
    width: 50%;
    height: 300px;
    display: block;
    position: relative;
    background-image: url(../img/фото_1.png);
    background-repeat: no-repeat;
    background-size: cover; } }

@media (min-width: 1024px) {
  .header__container {
    margin-right: 50px;
    margin-top: 50px; } }

@media (min-width: 1440px) {
  .header {
    width: 100%; }
  .nav__bar {
    width: 1265px;
    height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .menu__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #check-menu {
    display: none; }
  .header__logo-img {
    width: 100%; }
  .burger__list {
    display: none; }
  .menu__list {
    position: unset;
    height: unset;
    width: unset;
    background: none;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0; }
  .menu__item {
    margin-right: 55px; }
  .menu__link {
    text-decoration: none;
    color: #e0e0e0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.49px;
    font-size: 14px; }
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: unset; }
  .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #e0e0e0;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.84px;
    margin-right: 30px; }
  .phone-icon {
    position: relative;
    display: block;
    background-image: url("../img/icon-phone.png");
    width: 23px;
    height: 23px;
    margin-right: 10px; }
  .header__btn-phone {
    border: 2px solid #826f5a;
    border-radius: 3px;
    height: 35px;
    width: 144px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    color: #baa287;
    text-decoration: none; }
  .header__block {
    height: 718px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__block-left {
    width: 50%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: url(../img/logo_white-02.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -160px; }
  .header__container {
    width: 635px;
    margin-top: 100px; }
  .header__tittle {
    width: 587px;
    color: #ffffff;
    font-size: 64px;
    font-weight: 400;
    font-family: "Bodoni";
    line-height: 77.59px;
    font-variant: small-caps;
    letter-spacing: 1.51px;
    margin-bottom: 50px;
    text-align: left; }
  .header__btn {
    width: 264px;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    border: 1px solid #c69c6d;
    background-color: #c69c6d;
    border-radius: 5px;
    -webkit-box-shadow: 1px 4px 26px 1px rgba(9, 10, 10, 0.05);
            box-shadow: 1px 4px 26px 1px rgba(9, 10, 10, 0.05);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.32px;
    color: #ffffff; }
  .header__block-right {
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
    background-image: url(../img/фото_1.png);
    background-repeat: no-repeat;
    background-size: cover; } }

.gallery {
  width: 100%; }

.gallery__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px; }

.gallery__tittle {
  font-family: "Bodoni";
  font-weight: 400;
  opacity: 0.8;
  font-size: 36px;
  letter-spacing: 1.1px;
  font-variant: small-caps;
  color: #493a2f;
  margin: 0; }

.gallery__border {
  display: block;
  position: relative;
  background-color: #7a716c;
  height: 3px;
  width: 220px; }

.owl-image {
  width: 320px;
  height: 214px; }

.slick-prev, .slick-next, .slick-dots, .slick-next::before {
  display: none;
  right: 0; }

@media (min-width: 1440px) {
  .main-page {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .gallery {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    overflow: hidden; }
  .gallery__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 420px;
    height: 124px;
    margin-top: 80px;
    margin-bottom: 50px; }
  .gallery__border {
    width: 364px; }
  .gallery__tittle {
    font-size: 48px; }
  .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .gallery .slick-prev, .gallery .slick-next {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 99; }
  .gallery .slick-prev {
    position: absolute;
    left: 47%; }
  .slick-prev, .slick-prev:hover, .slick-prev:focus, .slick-prev:active {
    background-image: url(../img/botton_left.png); }
  .slick-prev::before, .slick-next::before {
    display: none; }
  .gallery .slick-next, .slick-next:hover, .slick-next:focus, .slick-next:active {
    right: 47%;
    background-image: url(../img/botton_right.png); }
  .slick-dotted.slick-slider {
    margin-bottom: 0; }
  .owl-image {
    height: unset;
    width: unset; }
  .slick-dots {
    display: none; }
  .gallery .slick-prev::before, .gallery .slick-next::before {
    display: none; } }

.services {
  width: 100%;
  background: url("../img/backgrond.png") no-repeat;
  padding-bottom: 80px; }

.services__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 40px; }

.services__tittle {
  font-family: "Bodoni";
  font-weight: 400;
  opacity: 0.8;
  font-size: 28px;
  letter-spacing: 1.1px;
  font-variant: small-caps;
  color: #493a2f;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px; }

.services__img {
  width: 320px;
  height: 395px; }

.slick-slide {
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.services__block {
  position: absolute;
  height: 192px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(73, 58, 47, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s; }

.services__description {
  width: 227px;
  font-size: 24px;
  font-family: "Bondi";
  font-weight: 400;
  letter-spacing: 2.52px;
  margin: 0;
  z-index: 99;
  display: block;
  position: relative; }

.btn__services {
  width: 193px;
  height: 49px;
  border-radius: 3px;
  border: 2px solid #c69c6d;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 20px; }

.btn__services:hover {
  background: #c69c6d;
  -webkit-transition: 1s;
  transition: 1s; }

.btn__services--active {
  display: none; }

.services__block--active {
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s; }

.services-block__list {
  color: #c69c6d;
  -moz-text-align-last: left;
       text-align-last: left;
  margin-top: 50px; }

.sevices-block__item {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400; }

.services-block__border {
  width: 121px;
  height: 3px;
  background: #c69c6d;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px; }

.services__text {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.34px; }

.sevices-block__item span {
  color: #ffffff; }

.btn__close {
  background-image: url("../img/botton_close.png");
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px; }

.slick-prev::before {
  content: "";
  top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url("../img/botton_left-pre.png");
  background-repeat: no-repeat;
  background-position: 6px 4px;
  border-radius: 50px;
  display: block;
  width: 35px;
  height: 35px;
  z-index: 98; }

.slick-next::before {
  content: "";
  top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url("../img/botton_right-next.png");
  background-repeat: no-repeat;
  background-position: 12px 4px;
  border-radius: 50px;
  display: block;
  width: 35px;
  height: 35px;
  z-index: 98; }

.slick-next {
  right: 10px; }

.slick-prev {
  position: absolute;
  width: 23px;
  height: 30px;
  z-index: 99;
  display: block;
  left: 10px; }

@media (min-width: 1440px) {
  .services {
    width: 100%;
    height: 995px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url("../img/backgrond.png") no-repeat;
    padding-bottom: 0; }
  .services__wrap {
    width: 400px;
    height: 124px;
    margin-bottom: 60px;
    margin-top: 80px; }
  .services__tittle {
    font-size: 48px; }
  .services__border {
    width: 398px; }
  .services__tittle {
    opacity: 0.8; }
  .services-item {
    width: 1254px; }
  .services-item .slick-prev {
    left: -30px;
    background-image: url(../img/botton_left-pre.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 29px;
    width: 26px;
    display: block; }
  .services-item .slick-next {
    right: -30px;
    background-image: url(../img/botton_right-next.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 29px;
    width: 26px;
    display: block; }
  .slick-slide {
    position: relative; }
  .services__img {
    width: unset;
    height: unset; }
  .services__block {
    position: absolute;
    height: 192px;
    width: 95%;
    bottom: 0;
    left: 10px;
    background-color: rgba(73, 58, 47, 0.85);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-transition: 1s;
    transition: 1s; }
  .services__description {
    width: 227px;
    font-size: 28px;
    font-family: "Bondi";
    font-weight: 400;
    letter-spacing: 2.52px;
    margin: 0; }
  .btn__services {
    width: 193px;
    height: 49px;
    border-radius: 3px;
    border: 2px solid #c69c6d;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
    margin-top: 20px; }
  .btn__services:hover {
    background: #c69c6d;
    -webkit-transition: 1s;
    transition: 1s; }
  .btn__services--active {
    display: none; }
  .services__block--active {
    height: 100%;
    -webkit-transition: 1s;
    transition: 1s; }
  .services .slick-next::before, .services .slick-prev::before {
    display: none; } }

.inform {
  width: 100%;
  background-color: #493a2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.inform__tittle {
  width: 100%;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 1.51px;
  text-align: center;
  font-family: "Bodoni";
  font-weight: 400; }

.inform__border {
  width: 220px;
  margin: 0 auto; }

.inform__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px; }

.inform__item {
  height: 250px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px; }

@media (min-width: 1440px) {
  .inform {
    width: 100%;
    height: 959px; }
  .inform__wrap {
    max-width: 1027px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .inform__tittle {
    font-size: 55px; }
  .inform__border {
    background-color: #c69c6d;
    width: 380px;
    margin-bottom: 100px; }
  .inform__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none; }
  .inform__item {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 80px;
    text-align: center; }
  .inform__ico {
    width: 66px;
    height: 66px; }
  .inform__description {
    font-size: 24px;
    font-family: "Bodoni";
    font-weight: 400;
    width: 213px; }
  .inform__bottom {
    width: 90px;
    background-color: #7a716c;
    height: 2px;
    position: relative;
    display: block; }
  .inform__text {
    font-size: 16px;
    font-weight: 400;
    text-align: center; } }

.reviews {
  width: 100%;
  background-image: url("../img/pexels-photo-1050304.png");
  background-repeat: no-repeat;
  background-position: 0 -180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
  padding-bottom: 40px; }

.reviews__wrap {
  margin-top: 50px;
  margin-bottom: 50px; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none; }

.reviews__gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.reviews img {
  width: 320px; }

.reviews-item {
  width: 100%; }

.slick-prev::before {
  content: "";
  top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url("../img/botton_left-pre.png");
  background-repeat: no-repeat;
  background-position: 6px 4px;
  border-radius: 50px;
  display: block;
  width: 35px;
  height: 35px;
  z-index: 98; }

.slick-next::before {
  content: "";
  top: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url("../img/botton_right-next.png");
  background-repeat: no-repeat;
  background-position: 12px 4px;
  border-radius: 50px;
  display: block;
  width: 35px;
  height: 35px;
  z-index: 98; }

.slick-next {
  right: 10px; }

.slick-prev {
  position: absolute;
  width: 23px;
  height: 30px;
  z-index: 99;
  display: block;
  left: 10px; }

@media (min-width: 1440px) {
  .reviews {
    padding-bottom: 0;
    background-image: url("../img/pexels-photo-1050304.png");
    background-repeat: no-repeat; }
  .reviews__wrap {
    margin-top: 80px;
    margin-bottom: 60px; }
  .gallery__tittle {
    font-family: "Bodoni";
    font-size: 58px;
    letter-spacing: 1.51px; }
  .reviews__gallery {
    width: 760px; }
  .reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0; }
  .reviews-item {
    display: none; }
  .reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px; }
  .reviews img {
    width: 100%; } }

.contakt {
  background-color: #493a2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contakt__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.contakt__block {
  width: 100%; }

.contakt__tittle {
  width: 100%;
  font-weight: 400;
  font-family: "Bodoni";
  letter-spacing: 1.51px;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0.8;
  text-align: center; }

.contakt__description {
  opacity: 0.86;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; }

.contakt__border {
  margin: 0 auto; }

.contakt__block-left {
  margin-top: 50px; }

.form-control {
  width: 100%;
  height: 49px;
  background-color: #e9e9e9;
  border: none;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  margin-bottom: 20px; }

textarea {
  background-color: #e9e9e9;
  width: 100%;
  height: 249px;
  border: none;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  padding-top: 40px; }

.btn-primary {
  width: 100%;
  height: 49px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 4px 26px 1px rgba(9, 10, 10, 0.05);
          box-shadow: 1px 4px 26px 1px rgba(9, 10, 10, 0.05);
  background-color: #c69c6d;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.32px;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px; }

.contakt__block-right {
  width: 100%; }

.contakt__conteiner {
  background-color: #362f2d;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h6 {
  opacity: 0.8;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding-top: 70px;
  margin: 0; }

.contakt__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  margin-left: 0;
  padding: 0; }

.contakt__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px; }

.contakt__text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1.44px;
  opacity: 0.8;
  margin: 0;
  margin-left: 20px; }

.contakt__item a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.44px;
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px; }

svg {
  width: 30px;
  height: 30px;
  fill: #6d5b4b; }

@media (min-width: 768px) {
  .contakt__block-right {
    width: 300px;
    height: 459px;
    margin-left: 25px; }
  .contakt__conteiner {
    margin-top: 25px; }
  .contakt__wrap {
    padding-bottom: 25px; } }

@media (min-width: 1440px) {
  .contakt {
    height: 978px; }
  .contakt__wrap {
    width: 1430px; }
  .contakt__tittle {
    width: 680px;
    font-size: 66px;
    text-align: left; }
  .contakt__description {
    text-align: left;
    padding: 0; }
  .contakt__border {
    width: 132px;
    background-color: #7a716c;
    margin: 0; }
  .contakt__block {
    width: 92%; }
  .contakt__block-left, .contakt__block-right {
    width: 40%;
    margin-top: 40px; }
  .mail__form {
    width: 100%;
    height: 507px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .form-group {
    width: 267px;
    height: 69px; }
  .form-control {
    width: 100%;
    height: 100%;
    background-color: #e9e9e9;
    border: none;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 40px; }
  textarea {
    background-color: #e9e9e9;
    width: 570px;
    height: 249px;
    border: none;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 40px;
    padding-top: 40px; }
  .btn-primary {
    width: 713px; }
  .form-margin-right {
    margin-right: 35px; }
  .contakt__block-right {
    height: 475px;
    width: 50%;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .contakt__conteiner {
    background-color: #362f2d;
    border-radius: 10px;
    height: 100%;
    width: 577px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-top: 0; }
  h6 {
    opacity: 0.8;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding-left: 70px;
    padding-top: 70px;
    margin: 0; }
  .contakt__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 70px;
    margin-top: 70px; }
  .contakt__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px; }
  .contakt__text {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1.44px;
    opacity: 0.8;
    margin: 0;
    margin-left: 20px; }
  .contakt__item a {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.44px;
    opacity: 0.8;
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px; }
  svg {
    width: 30px;
    height: 30px;
    fill: #6d5b4b; } }

.footer-page {
  background-color: #362f2d;
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h5 {
  margin: 0;
  padding: 0;
  color: #b8b8b8;
  font-weight: 400;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
